* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

.form-label {
    text-transform: uppercase;
}

.movie_title {
    font-size: 18px;
}

.genre {
    font-weight: 500;
}

.loader {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex;
}

.loader .spinner-border {
    color: #fff;
    width: 60px;
    height: 60px;
}

.rating {
    font-size: 16px;
    color: #000;
    font-weight: 700;
}